checkpoint-*/
**/checkpoint-*/
__pycache__/
**/__pycache__/
*.safetensors
*.pt
*.pth
training_args.bin
experiments/models/*
**/models/*
data_sprec/*
**/*_old/*
*_old/*toy_200seq/train_candidate_scores.jsonl
sample_data/
**/sampled_data/
toy_100seq/
**/toy_100seq/
toy_200seq/*.json
**/toy_200seq/*.json
toy_200seq/*.jsonl
**/toy_200seq/*.jsonl

**/tokenizer.json
**/dog.log
logs/*
**/tokenizer_config.json